# ignore all .exe files
*.exe
/.vscode

# ignore files with names like tempCodeRunnerFile
*tempCodeRunnerFile*

# Ignore executables (files without extension)
*

# But keep files with extensions
!*.*
